{% extends "base.html" %}

{% block conteudo %}

<div class="container">
	<div class="row">
		<div class="col-sm"></div>
		<div class="col-sm">
		  <h2>Mercado Solidário</h2>
		</div>
		<div class="col-sm"></div>
	</div>
	<div class="row">
		<div class="col-sm"></div>
		<div class="col-sm">
		  <p>Tutoriais e explicações</p>
			<ul>
			  <li>Para poder utilizar um produto por código de barras, o código desse produto real, deve estar associado a um código de produto solidário.</li>
			  <li>Caso haja novo produto para ser distribuído no Mercado Solidário CS, o mesmo deve ser cadastrado como produto solidário e pelo menos um código de barras de um produto real deve ser associado a ele. Um administrador pode fazer o cadastro do Produtto Solidário.</li>
			  <li>O código de barras do produto real, deve ser associado a um produto solidário para que o mesmo possa ser utilizado no atendimento do Mercado Solidário CS. Um administrador pode fazer a associação docódigo de barras do produto real a um produto solidário.</li>
           <li>É preciso pelo menos um cadastro de estoque de um ítem para que o mesmo possa ser utilizado no atendimento do Mercado Solidário CS. Um administrador pode fazer o cadastro de estoque de um item.</li>
           <li>Caso fique sem internet, é possível reniciar o atendimento. Basta ir em atentendimentos, Mercado Solidário e clicar em coninuar.</li>
           <li>Em caso de dúvidas, contatar oa resopnsáveis pelo app no dia de atendimento do Mercado Solidário.</li>
			</ul>
		</div>
		<div class="col-sm"></div>
	</div>
</div>

{% endblock conteudo %}